.website-intro-1{
    font-family: montserrat;
    font-size: 15px;
    line-height: 20px;
    width: 180px;
    margin-left: 30px;
    margin-top: 20px;
    color: rgb(251, 246, 209); 
 } 

 .website-intro-2 {
   font-family: montserrat;
    font-size: 15px;
    color: rgb(251, 246, 209); 
    margin-left: 30px;
 }

 .menu {
   transition: cursor 0.15s opacity 0.15s;
 }

 .menu:hover {
   cursor: pointer;
   opacity: 0.7;
 }

 .title{
    font-size: 60px;
    font-family: Playfair display;
    font-weight: bold;
    line-height: 40px;
    margin-top: 60px;
    width: max-content;
    margin-bottom: 40px;
    color: rgb(251, 246, 209);
 }

 .body-1 {
   display: flex;
   align-items: center;
   justify-content: center;
 }

.sophie {
   object-fit: scale-down;
   width: 490px;
   height: 590px;
   margin-top: 50px;
   display: inline-block;
   vertical-align: text-top;
}

.intro {
   font-family: montserrat;
   font-size: 35px;
   color: rgb(102, 0, 0);
   width: 800px;
   margin-top: 50px;
   margin-left: 50px;
   display:inline-block;
   vertical-align: text-top;
   text-align: center;
}

.buttons {
   font-family: montserrat;
   font-size: 17px;
   color: rgb(102, 0, 0);
   background-color: rgb(251, 246, 209);
   padding: 7px 10px 7px 10px;
   border: none;
   border-radius: 4px;
   transition: opacity 0.15s, box-shadow 0.15s;
   position: center;
   margin-left: 20px;
}

.buttons:hover {
   box-shadow: 0.1px 0.2px 10px rgba(0, 0, 0, 0.6); 
   opacity: 0.8;
   cursor: pointer;
}

.buttons:active {
   opacity: 0.5;
}

.background, .life, .aspirations{
   font-family: montserrat;
   font-size: 25px;
   margin-top: 20px;
   color: rgb(102, 0, 0);
   background-color: rgb(251, 246, 209);
   margin-left: 20px;
   padding: 7px 11px 7px 11px;
   border:rgb(102, 0, 0);
   border-radius: 4px;
   transition: opacity 0.15s, box-shadow 0.15s;
   position: center;
}

.background:hover, .life:hover, .aspirations:hover {
   box-shadow: 0.1px 0.2px 10px rgba(0, 0, 0, 0.6); 
   opacity: 0.8;
   cursor: pointer;
 }

 .background:active, .life:active, .aspirations:active {
   opacity:0.5;
 }

 .links {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
 }
.linkedIn,.resume,.elevator {
    text-align: center;
}

 .useful-links {
    font-family: montserrat;
    font-size: 20px;
    font-weight: bold;
    margin-top: 100px;
    color: rgb(102, 0, 0);
    margin-left: 20px;
 }

.LinkedIn, .Resume, .Elevator {
   font-family: montserrat;
   font-size: 15px;
   color: rgb(102, 0, 0);
   background-color: rgb(251, 246, 209); 
   padding: 7px 11px 7px 11px;
   border: none;
   border-radius: 4px;
   width: 150px;
   transition: opacity 0.15s, box-shadow 0.15s;
 }

 .LinkedIn:hover, .Resume:hover, .Elevator:hover {
   box-shadow: 0.1px 0.2px 10px rgba(0, 0, 0, 0.6); 
   opacity: 0.8;
   cursor: pointer;
 }

.linkedIn-logo, .resume-logo, .elevator-pitch-logo {
   width: 80px;
   height: 75px;
   border-width:2px;
}
