.My-projects {
  font-family: Vidaloka;
  font-size: 50px;
  font-weight: bold;
  color: rgb(102, 0, 0);
  margin-left: 30px;
}

.title {
  font-size: 30px;
  font-family: Syne;
  font-weight: bold;
  margin-left: 20px;
  color: rgb(102, 0, 0);
}

.text {
  font-family: syne;
  font-size: 25px;
  line-height: 30px;
  color:rgb(102, 0, 0);


}

.button {
  font-family: syne;
  font-size: 25px;
  color: rgb(102, 0, 0);
  background-color: rgb(251, 246, 209); 
  padding: 7px 11px 7px 11px;
  border: none;
  border-radius: 4px;
  width: 250px;
  transition: opacity 0.15s, box-shadow 0.15s;
  text-align: center;
}

.button:hover {
  box-shadow: 0.1px 0.2px 10px rgba(0, 0, 0, 0.6); 
  opacity: 0.8;
  cursor: pointer;
}